* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #212841;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  background-color: #FAF8F6;
}

.bg-gray {
    background-color: #FAF8F6;
}

.gradient {
  background-image: url('../img/noise.png'),
    radial-gradient(at 43% 19%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 81% 10%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 7% 19%, hsla(355, 100%, 93%, 1) 0px, transparent 50%);
  background-repeat: repeat, no-repeat, no-repeat, no-repeat;
}

/* =============================================================================
TYPOGRAPHY
============================================================================= */
#section-title {
  font-weight: 700;
}

.title-container {
  background-color: #FFFFFF;
}

.small {
  font-size: 0.8rem;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.card a {
  font-size: 0.8rem;
  color: #3861FB;
}

.card a:hover {
  text-decoration: underline !important;
}

/* =============================================================================
COLOURS
============================================================================= */
.bg-gray {
    background-color: #FAF8F6;
}
.gray-500 {
    color: #ACACAC;
}

/* =============================================================================
BUTTONS
============================================================================= */
.btn:hover {
  color: #7a8188;
}

.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

/* =============================================================================
NAVBAR
============================================================================= */
.navbar-fade {
  transition: all 0.5s ease-in-out;
  background-color: #F4F4F4;
}

.navbar-index {
  background-color: #F4F4F4;
}

.navbar-light {
  background-color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
  color: #171924;
}

.navbar-light .navbar-nav .nav-link:hover {
  opacity: 0.6;
}

.navbar-brand {
  font-weight: 600;
  color: #171924;
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

/* =============================================================================
SIDEBAR
============================================================================= */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  height: 100vh;
  min-width: 18rem;
  overflow: scroll;
  margin-left: -18rem;
  background-color: #FFFFFF;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.5rem 1.25rem;
  font-size: 1.2rem;
}
.sidebar-heading {
    width: 18rem;
    position: fixed;
    z-index: 9999;
    background-color: #FFFFFF;
}

#sidebar-wrapper .list-group {
  width: 18rem;
}
.list-group {
    height: 100vh;
    overflow: scroll;
}

.list-group-item+.list-group-item.active {
  margin-top: 0.25rem;
  color: #212841;
  background-color: #e9ecef;
  border-radius: 8px;
}

#page-content-wrapper {
  min-width: 100vw;
  height: 100vh;
  overflow: scroll;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -18rem;
  }
}

.list-group-item {
    background-color: transparent;
    border: none;
    margin: 0.25rem 0rem;
    padding: 0.7rem;
}
.list-group-item-action:hover, .list-group-item-action:focus {
    background-color: #e9ecef;
    border-radius: 8px;
}

.list-group-item.active {
    color: #0d6efd;
    border: none;
    background-color: inherit;
}

/* =============================================================================
JUMBOTRON
============================================================================= */
.jumbotron {
  display: flex;
  align-items: center;
  height: 75% !important;
  /* background-image: url('../img/cover-art2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 50%; */
  margin: 8rem 0;
}

/* =============================================================================
DROPDOWN MENU
============================================================================= */
.dropdown-menu {
  border: none;
  border-radius: 12px;
  filter: drop-shadow(rgba(128, 138, 157, 0.12) 0px 1px 2px) drop-shadow(rgba(128, 138, 157, 0.24) 0px 8px 32px);
}

.dropdown-menu li {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.dropdown-item {
  padding: .6rem 1rem;
  border-radius: 8px;
}

/* =============================================================================
FORMS
============================================================================= */
.form-control {
    background-color: #eceae7;
    border: none;
}

/* =============================================================================
CARDS
============================================================================= */
.card-header {
  padding: 1.25rem 1.25rem 0 1.25rem;
  background-color: #FFFFFF;
  border: none;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.card-footer {
  padding: 0 1.25rem 1.25rem 1.25rem;
  background-color: #FFFFFF;
  border: none;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px, rgb(88 102 126 / 12%) 0px 1px 2px;
}

.card-title {
  font-weight: 600;
}

.bg-label {
  font-weight: 400;
  color: #4D5B6E;
  background-color: #E2E8F0;
}

.card-slide-up {
  transition: transform 0.3s ease-out;
}

.card-slide-up:hover {
  transform: translateY(-8px);
}

.rounded-5 {
  border-radius: 8px;
}

/* =============================================================================
TOAST
============================================================================= */
#toast-wrapper {
  width: 100%;
}

.toast {
  width: 100%;
  border-radius: 12px;
  border: none;
  background-color: #FFFFFF;
}

/* =============================================================================
FOOTER
============================================================================= */
/* =============================================================================
ANIMATIONS
============================================================================= */
.animate__delay-03s {
  animation-delay: 0.3s;
}

/* =============================================================================
RESPONSIVE STUFF
============================================================================= */
@media (max-width: 768px) {
  .jumbotron {
    display: flex;
    align-items: start;
    height: 60% !important;
    margin: 2rem 0;
    /* background-image: url('../img/cover-art2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom; */
  }
  #sidebar-wrapper {
    margin-left: -18rem;    
}

}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}